@using SEIIApp.Shared


<DataAnnotationsValidator />

<InputText placeholder="Antwort eingeben" @bind-Value="AnswerDto.AnswerText" />

<button type="button" class="btn btn-@Color" @onmousedown="clicked" style="text-align: left;">@Text</button>

<ValidationSummary />
@code {

    [Parameter]
    public AnswerDto AnswerDto { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Text = AnswerDto.IsCorrect ? "richtig" : "falsch";
        Color = AnswerDto.IsCorrect ? "info" : "warning";
    }


    public String Text = "loading";
    public String Color = "light";


    private void clicked()
    {
        AnswerDto.IsCorrect = AnswerDto.IsCorrect ? false : true;
        Color = AnswerDto.IsCorrect ? "info" : "warning";
        Text = AnswerDto.IsCorrect ? "richtig" : "falsch";
    }

}
