@using SEIIApp.Shared


<DataAnnotationsValidator />

<InputText placeholder="Antwort eingeben" @bind-Value="AnswerDto.AnswerText" />

<button type="button" class="btn btn-@Color" @onmouseout="mouseOut" @onmouseover="mouseIn" @onmousedown="clicked" style="text-align: left;">@Text</button>

<ValidationSummary />
@code {

    [Parameter]
    public AnswerDto AnswerDto { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }


    public String Text = "falsch";
    public String Color = "warning";

    private void mouseOut()
    {
        Color = AnswerDto.IsCorrect ? "info" : "warning";
    }

    private void mouseIn()
    {
        Color = AnswerDto.IsCorrect ? "danger" : "success";
    }

    private void clicked()
    {
        AnswerDto.IsCorrect = AnswerDto.IsCorrect ? false : true;
        Text = AnswerDto.IsCorrect ? "richtig" : "falsch";
    }

}
