@using SEIIApp.Shared

<h5>Course Editor</h5>

<EditForm Model="Course">
    <DataAnnotationsValidator />

    <label>Course Name</label>
    <InputText @bind-Value="Course.Name" />

    <label>Course Description</label>
    <InputText @bind-Value="Course.Desc" />

    <label>Course Image</label>
    <InputText @bind-Value="Course.Img" />

    <label>Course Text (Optional, ersätzt Description)</label>
    <InputText @bind-Value="Course.Text" />

    <label>Video (Optiona)</label>
    <InputText @bind-Value="Course.VideoURL" />

    <label>PDF (Optiona)</label>
    <InputText @bind-Value="Course.PdfURL" />

    <label>Quiz (Optional)</label>
    <InputText @bind-Value="Course.QuizId" />

    <ValidationSummary />
</EditForm>

@code {

    [Parameter]
    public CourseDto Course { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();


    }

}

