@page "/course/{Id:int}"

@inject Services.CourseBackendAccessService CourseService

@if (Course != null)

{

    <h1>
        @Course.Name
    </h1>
    @if (Course.VideoURL != null && Course.VideoURL != "")
    {
        <div class="row">
            <div class="col-sm-10">

                @if (Course.VideoURL != null && Course.VideoURL != "")
                {
                    <div class="videoResponsive" style="margin-bottom: 24px;">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/@Course.VideoURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                }
            </div>
            <div class="col-sm-2">
                
                <QuizButton QuizId="1"></QuizButton>

               
                <PDFButton Url=""></PDFButton>


                <FeedbackButton CourseId="1"></FeedbackButton>
            </div>
        </div>


        <br />
        <span class="text">
            @Course.Desc
        </span>
    }
    else
    {
        <p>HIER IST KEIN VIDEO</p>
    }
}


@code {
    [Parameter]
    public int Id { get; set; }

    public CourseDto Course { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Course = await CourseService.GetCourseById(Id);
    }

  

}