@page "/faq"
<head>
    <title>F.A.Q.</title>
</head>
<body>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wann ist die erste Alpha Version verfügbar?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Spätestens am 25.6., wahrscheinlich früher.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Wird ein Langzeitsupport angeboten?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Da es ein Open Source Projekt ist, kann die Community selbst Updates erstellen.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       Wen kontaktiere ich, wenn ich ein Problem habe?
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Herrn Kofler oder das Entwicklerteam.
                </div>
            </div>
        </div>



       <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wie bekomme ich einen Zugang? 
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Einfach über die Schaltfläche ‘Register’ im Browser registrieren und die Email Adresse bestätigen.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Sind die Kursinhalte auch offline verfügbar?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Man kann sich Kursinhalte als PDF speichern und Videos runterladen.
Quizes sind jedoch nur online verfügbar.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        
                  Kann ich meinen Kursfortschritt speichern? 

                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                     Der Fortschritt wird automatisch gespeichert. 
                      Ausnahmen: Zoom Meetings müssen von den Lehrern als erfolgreich absolviert werden.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Woraus besteht ein aLive-Kurs?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Jeder aLive-Kurs wird von einem (oder manchmal auch mehreren) Dozenten der LMU Klinikum erstellt und betreut.
Grundsätzlich besteht ein aLive-Kurs aus Lektionen, die Videos, Folien und Text enthalten können. Die Dozenten können außerdem Begleitmaterialien und Praxisaktivitäten hinzufügen, um den Kurs interessanter und praxisrelevanter zu gestalten. Es werden außerdem auch live zoom Meetings durchgefürt.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wie lange kann ich Quizzes bearbeiten?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Der Administrator legt fest, wieviel Zeit pro Quiz verfügbar ist.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Welches Feedback erhalte ich nach einem Quiz?
                    </button>
                </h2>
            </div>


            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Dazu hat der Administrator mehrere Einstellmöglichkeiten: 
●	nach jeder Frage, richtig / falsch
●	nach dem Test: Anzahl / Prozentsatz richtig 
●	nach dem Test: Auflistung der Antworten, Markierung der richitgen

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Kann ich die Fortschritte von anderen sehen?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Lehrer können dies jederzeit sehen, Studenten können aktivieren, dass sie unter einem Nickname in der Bestenliste geführt werden.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Kann ich mich von einem Kurs abmelden?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                Initial ist nur ein Kurs vorgesehen, daher wird diese Funktion vorerst nicht angeboten.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Kann ich mit anderen Kursteilnehmern kontaktieren?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Dazu können Foren in den Lehreinheiten genutzt werden.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Bekomme ich einen  Nachweis nach der Absolvierung des Kurses?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                 Ja, du bekommst einen Nachweis nach der Absolvierung der kompletten Lerneinheit.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Kann man Gruppen bilden? 
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                Nein, das ist auf dem aLive Plattform nicht möglich. Das ist ein individuller Kurs.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wer kann Feedback hinterlassen?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Jeder Teilnehmer, der einen Kurs angesehen hat, kann einen Feedback hinterlassen. 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Gibt es Aufgaben zu den Lerneinheiten?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Ja, es gibt Quize zu jedem Kurs. Außerdem gibt es in machen Kursen zusätliche Aufgaben wie ZB. Case studys.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 Von wem bekomme ich den Feedback?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                Jeder aLive-Kurs wird von einem (oder manchmal auch mehreren) Dozenten erstellt und betreut.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     Kann ich die abgegebene case study nochmal bearbeiten?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Die Bearbeitung der Aufgaben sind bis zum Abgabetermin möglich.  
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Kann ich weiterhin auf den Kurs zugreifen, auch wenn ich ihn bereits abgeschlossen habe?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Der Administrator entschiedet, wie lange der Zugriff gültig ist 
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Sie können ein Material nicht finden? Oder es gibt Probleme damit?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Wenden Sie bitte an Administrator oder nutzen Sie Feedback Funktion .
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Kann ich auch von verschiedenen Geräten auf aLive Kurse zugreifen?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Alle internetfähige Endgeräte mit Brauserzugang benutzt werden.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     Muss ich meinen aLive-Lerneinheit zu einem bestimmten Zeitpunkt beginnen? Und wie viel Zeit habe ich, ihn abzuschließen?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Admin oder Moderator kann die Zeit einstellen. Falls es eine Zeitgrenze gibt, wird an der Lerneinheit angezeigt.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wo erhalte ich Hilfe?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                 In unserem Hilfe / FAQ findest du umfangreiche Infos zu den vielen Funktionen von eLive sowie Artikel zur Fehlerbehebung, die dir weiterhelfen, falls mal ein Problem auftritt. Forum, Feedbackfunktion.
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wie kann ich einen Kurs anlegen? 
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Als Administrator kann man unter ‘Courses’ die Option ‘add’ auswählen.
Dabei wird ein noch nicht sichtbarer Kurs erzeugt. Wenn man mit dem Erstellen fertig ist, muss der Kurs noch veröffentlicht werden. Dazu dient der Knopf ‘publish’.

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Wie lade ich multimediale Inhalte (Videos, Bilder, PDFs) hoch?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Als Administrator muss die Kategorie des Kurses ‘video course’ aktiviert werden. Dann erscheint die Möglichkeit ein video zu uploaden.
Bilder und PDFs können zu jedem Kurs (und Test) hinzugefügt werden.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Wie kann ich bereits veröffentlichte Inhalte bearbeiten?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                 Als Administrator kann man in der Kursansicht auf Bearbeiten klicken.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       Was passiert, wenn der Administrator die Lerneinheit aus aLive entfernt?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   Wenn der Kurs von dem Lehrer gelöscht wird,  wird automatisch bei der Nutzer gelöscht. Der Kurs kann auch in einer bestimmten Zeitraum wiederhergedstellt werden.
                </div>
            </div>
        </div>
    </div>
</body>
