@page "/faq"

<h3 style="padding-bottom:12px">Stakeholder:</h3>
<div class="accordion" id="accordionFaqOne" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Wann ist die erste Alpha Version verfügbar?
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFaqOne">
            <div class="card-body">
                Dies ist die Alpha Version.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Wird ein Langzeitsupport angeboten?
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFaqOne">
            <div class="card-body">
                Da es ein Open Source Projekt ist, kann die Community selbst Updates erstellen.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Wen kontaktiere ich, wenn ich ein Problem habe?
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFaqOne">
            <div class="card-body">
                Herrn Kofler oder das Entwicklerteam.
            </div>
        </div>
    </div>
</div>




<h3 style="padding-bottom: 12px;
        padding-top: 32px">
    Nutzer:
</h3>
<div class="accordion" id="accordionFaqTwo" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Wie bekomme ich einen Zugang?
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Einfach über die Schaltfläche ‘Register’ im Browser registrieren und die Email Adresse bestätigen.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Sind die Kursinhalte auch offline verfügbar?
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Man kann sich Kursinhalte als PDF speichern und Videos runterladen.
                Quizes sind jedoch nur online verfügbar.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Kann ich meinen Kursfortschritt speichern?
                </button>
            </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Der Fortschritt wird automatisch gespeichert.
                Ausnahmen: Zoom Meetings müssen von den Lehrern als erfolgreich absolviert werden.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEight">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Woraus besteht ein aLive-Kurs?
                </button>
            </h2>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Jeder aLive-Kurs wird von einem (oder manchmal auch mehreren) Dozenten der LMU Klinikum erstellt und betreut.
                Grundsätzlich besteht ein aLive-Kurs aus Lektionen, die Videos, Folien und Text enthalten können. Die Dozenten können außerdem Begleitmaterialien und Praxisaktivitäten hinzufügen, um den Kurs interessanter und praxisrelevanter zu gestalten. Es werden außerdem auch live zoom Meetings durchgefürt.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingNine">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Wie lange kann ich Quizzes bearbeiten?
                </button>
            </h2>
        </div>
        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Der Administrator legt fest, wieviel Zeit pro Quiz verfügbar ist.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Welches Feedback erhalte ich nach einem Quiz?
                </button>
            </h2>
        </div>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Dazu hat der Administrator mehrere Einstellmöglichkeiten:
                <ul>
                    <li>nach jeder Frage, richtig / falsch</li>
                    <li>nach dem Test: Anzahl / Prozentsatz richtig</li>
                    <li>nach dem Test: Auflistung der Antworten, Markierung der richitgen</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingEleven">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                    Kann ich die Fortschritte von anderen sehen?
                </button>
            </h2>
        </div>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Lehrer können dies jederzeit sehen, Studenten können aktivieren, dass sie unter einem Nickname in der Bestenliste geführt werden.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwelve">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                    Kann ich mich von einem Kurs abmelden?
                </button>
            </h2>
        </div>
        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Initial ist nur ein Kurs vorgesehen, daher wird diese Funktion vorerst nicht angeboten.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingThirteen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                    Kann ich mit anderen Kursteilnehmern kontaktieren?
                </button>
            </h2>
        </div>
        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Dazu können Foren in den Lehreinheiten genutzt werden.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingFourteen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                    Bekomme ich einen  Nachweis nach der Absolvierung des Kurses?
                </button>
            </h2>
        </div>
        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Ja, du bekommst einen Nachweis nach der Absolvierung der kompletten Lerneinheit.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingFifteen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                    Kann man Gruppen bilden?
                </button>
            </h2>
        </div>
        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Nein, das ist auf dem aLive Plattform nicht möglich. Das ist ein individuller Kurs.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingSixteen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                    Kann man Gruppen bilden?
                </button>
            </h2>
        </div>
        <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Nein, das ist auf dem aLive Plattform nicht möglich. Das ist ein individuller Kurs.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingSeventeen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                    Wer kann Feedback hinterlassen?
                </button>
            </h2>
        </div>
        <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Jeder Teilnehmer, der einen Kurs angesehen hat, kann einen Feedback hinterlassen.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingEightteen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEightteen" aria-expanded="false" aria-controls="collapseEightteen">
                    Gibt es Aufgaben zu den Lerneinheiten?
                </button>
            </h2>
        </div>
        <div id="collapseEightteen" class="collapse" aria-labelledby="headingEightteen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Ja, es gibt Quize zu jedem Kurs. Außerdem gibt es in machen Kursen zusätliche Aufgaben wie ZB. Case studys.

            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingNineteen">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                    Von wem bekomme ich den Feedback?
                </button>
            </h2>
        </div>
        <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Jeder aLive-Kurs wird von einem (oder manchmal auch mehreren) Dozenten erstellt und betreut.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingTwenty">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                    Kann ich die abgegebene case study nochmal bearbeiten?
                </button>
            </h2>
        </div>
        <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Die Bearbeitung der Aufgaben sind bis zum Abgabetermin möglich.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingTwentyone">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">
                    Kann ich weiterhin auf den Kurs zugreifen, auch wenn ich ihn bereits abgeschlossen habe?
                </button>
            </h2>
        </div>
        <div id="collapseTwentyone" class="collapse" aria-labelledby="headingTwentyone" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Der Administrator entschiedet, wie lange der Zugriff gültig ist
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingTwentytwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseTwentytwo">
                    Sie können ein Material nicht finden? Oder es gibt Probleme damit?
                </button>
            </h2>
        </div>
        <div id="collapseTwentytwo" class="collapse" aria-labelledby="headingTwentytwo" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Wenden Sie bitte an Administrator oder nutzen Sie Feedback Funktion .
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingTwentythree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentythree" aria-expanded="false" aria-controls="collapseTwentythree">
                    Kann ich auch von verschiedenen Geräten auf aLive Kurse zugreifen?
                </button>
            </h2>
        </div>
        <div id="collapseTwentythree" class="collapse" aria-labelledby="headingTwentythree" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Alle internetfähige Endgeräte mit Brauserzugang benutzt werden.
            </div>
        </div>
    </div><div class="card">
        <div class="card-header" id="headingTwentyfour">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentyfour" aria-expanded="false" aria-controls="collapseTwentyfour">
                    Muss ich meinen aLive-Lerneinheit zu einem bestimmten Zeitpunkt beginnen? Und wie viel Zeit habe ich, ihn abzuschließen?
                </button>
            </h2>
        </div>
        <div id="collapseTwentyfour" class="collapse" aria-labelledby="headingTwentyfour" data-parent="#accordionFaqTwo">
            <div class="card-body">
                Admin oder Moderator kann die Zeit einstellen. Falls es eine Zeitgrenze gibt, wird an der Lerneinheit angezeigt.
            </div>
        </div>
    </div>
</div>


<h3 style="        padding-bottom: 12px;
        padding-top: 32px
">
    Administratoren:
</h3>
<div class="accordion" id="accordionFaqThree" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="card">
        <div class="card-header" id="headingTwentyFive">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
                    Wie kann ich einen Kurs anlegen
                </button>
            </h2>
        </div>

        <div id="collapseTwentyFive" class="collapse" aria-labelledby="headingTwentyFive" data-parent="#accordionFaqThree">
            <div class="card-body">
                Als Administrator kann man unter ‘Courses’ die Option ‘add’ auswählen.
                Dabei wird ein noch nicht sichtbarer Kurs erzeugt. Wenn man mit dem Erstellen fertig ist, muss der Kurs noch veröffentlicht werden. Dazu dient der Knopf ‘publish’.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwentySix">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
                    Wie lade ich multimediale Inhalte (Videos, Bilder, PDFs) hoch?
                </button>
            </h2>
        </div>
        <div id="collapseTwentySix" class="collapse" aria-labelledby="headingTwentySix" data-parent="#accordionFaqThree">
            <div class="card-body">
                Als Administrator muss die Kategorie des Kurses ‘video course’ aktiviert werden. Dann erscheint die Möglichkeit ein video zu uploaden.
                Bilder und PDFs können zu jedem Kurs (und Test) hinzugefügt werden.

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwentySeven">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
                    Wie kann ich bereits veröffentlichte Inhalte bearbeiten?
                </button>
            </h2>
        </div>
        <div id="collapseTwentySeven" class="collapse" aria-labelledby="headingTwentySeven" data-parent="#accordionFaqTwentySeven">
            <div class="card-body">

                Als Administrator kann man in der Kursansicht auf Bearbeiten klicken.

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header" id="headingTwentyEight">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
                Was passiert, wenn der Administrator die Lerneinheit aus aLive entfernt?
            </button>
        </h2>
    </div>
    <div id="collapseTwentyEight" class="collapse" aria-labelledby="headingTwentyEight" data-parent="#accordionFaqThree">
        <div class="card-body">
            Wenn der Kurs von dem Lehrer gelöscht wird,  wird automatisch bei der Nutzer gelöscht. Der Kurs kann auch in einer bestimmten Zeitraum wiederhergedstellt werden.
        </div>
    </div>
</div>

<style>

    .card-header {
        background-color: #4dad4f;
        height: 4rem;
        text-decoration: none;
    }

    .btn-link {
        color: #ffffff;
    }

        .btn-link:hover {
            margin-top:0;
            padding-top:0;
            font-size: 26px;
            color: #ffffff;
            text-decoration: none;
        }

        .btn-link:focus {
            text-decoration: none;
        }

</style>