@page "/feedback"

<div class="row justify-content-md-center">
    <div class="col-sm-12">
        <h1 style="font-size: 2.5em; font-family: 'Ubuntu', sans-serif; font-weight:lighter; padding-top:0.75%; padding-bottom:2%">Feedback: Kurs X</h1>
    </div>
    <div class="col-sm-3">

        <label for="flexRadioDefault1">Kategorie?</label>
        <div class="form-check align-middle">
            <input class="form-check-input align-middle" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Uns fehlt die Ausstattung
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input align-middle" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                Bei uns wir es anders gemacht
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input align-middle" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                Andere Kursinhalte erwünscht
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input align-middle" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
                Die Lerninhalte wurden zu schnell präsentiert
            </label>
        </div>

    </div>

    <div class="col-sm-9" style="width: 100%">
        <div class="jumbotron border bg-light-grey" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); overflow: hidden; padding-top: 1rem; padding-bottom: 1rem">
            <div style="padding:20px;">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Beschreibe dein Problem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
                </div>
                <label for="inputGroupFile02">Datei hinzuf&uuml;gen?</label>
                <div class="input-group mb-3">

                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupiFle02">Upload</label>
                </div>
            </div>
        </div>
        <div style="font-size:20px">&nbsp;</div>
        <button style="float:right;" type="button" class="btn btn-outline-danger btn-lg">Senden</button>
    </div>


</div>

@code {

}
