@page "/quizdef"

@using SEIIApp.Shared

@inject Services.QuizBackendAccessService QuizService
@inject NavigationManager NavigationManager

<h3>Quiz Editor</h3>
<center>
    @if (Quizzes?.Length > 0)
        {

            <div class="jumbotron border" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); overflow: hidden; padding-top: 1rem; padding-bottom: 1rem; max-width:500px">

                
                <ol>
                    @foreach (var quiz in Quizzes)
                    {
                        <li>
                            <button class="btn btn-primary" @onclick="() => EditQuiz(quiz)">
                                @(quiz.Name)
                            </button>
                        </li>
                    }
                </ol>

                <button @onclick="AddQuiz">Add Quiz</button>
            </div>

    }
    else
    {
    <h5>Loading ...  or no quizzes found.</h5>
    }
</center>


@code {

    public QuizDto[] Quizzes { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        Quizzes = await QuizService.GetQuizOverview();
    }

    private void EditQuiz(QuizDto quiz)
    {
        NavigationManager.NavigateTo("/quizdefedit/" + quiz.Id);
    }

    private void AddQuiz()
    {
        NavigationManager.NavigateTo("/quizdefedit/0");
    }
}
