@page "/quiz"
@page "/quiz/1"

@using SEIIApp.Shared
@inject HttpClient Http

<h1>Example Quiz</h1>
<br />

<small>question</small>
<p>
    @singleChoiceQuestion.Question
</p>
<small>answer</small>
<p>
    <EditForm Model="@singleChoiceQuestion" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputRadioGroup @bind-Value="UserChoice" selected>
            @foreach (var option in singleChoiceQuestion.Options)
            {
                <InputRadio Value="option" /><strong>&nbsp;&nbsp;@option.Text</strong> <br />
            }
        </InputRadioGroup>
    </EditForm>
</p>
<br />
1/5
<button class="btn btn-outline-success" disabled>←</button>
<button class="btn btn-outline-success" onclick="window.location.href='/quiz/2'">→</button>

@code {

    private SingleChoiceQuestion singleChoiceQuestion = new SingleChoiceQuestion
    {
        Question = "Welche Aussagen zur Erstversorgung Neugeborener treffen zu?",
        Options = new List<Answer> { new Answer {Text = "Der Großteil aller Neugeborenen bedarf nach der Geburt keiner besonderen medizinischen Unterstützung." },
             new Answer {Text = "Der Wärmeerhalt (36,5 -37,5 °C) nach Geburt ist für alle gesunden Neugeborenen von großer Wichtigkeit.", },
             new Answer {Text = "Nur ca. 30% aller Neugeborenen müssen nach Geburt beatmet werden." },
             new Answer {Text = "Ca. 10% aller Neugeborenen müssen nach Geburt intubiert werden." },
             new Answer {Text = "Die medikamentöse Therapie spielt eine größere Rolle als die Herz-Druck-Massage." }
        },
        Solution = 1,
    };

    private string UserChoice;

    private void HandleValidSubmit()
    {
        Console.Write(UserChoice);
    }
}

<style>
    p {
        border: groove;
        border-color: aliceblue;
    }

    InputRadio {
        padding: 10px;
    }
</style>