@using SEIIApp.Shared

<div style="font-size: 5px;">&nbsp;</div>
    <button type="button" class="btn btn-@Answer.Color btn-lg btn-block font-" @onmouseout="mouseOut" @onmouseover="mouseIn" @onmousedown="clicked" style="text-align: left;">@Answer.AnswerText</button>
<div style="font-size: 5px;">&nbsp;</div>

@code {
    [Parameter]
    public AnswerDto Answer { get; set; }

    [CascadingParameter]
    public MultipleChoice ParentComponent { get; set; }

    public void refresh()
    {
        mouseOut();
        StateHasChanged();
    }


    private void mouseOut()
    {
        Answer.Color = Answer.IsSelected? "info" : "light";
    }

    private void mouseIn()
    {
        Answer.Color = "dark";
    }

    private void clicked()
    {
        Answer.IsSelected = Answer.IsSelected ? false : true;
        mouseOut();
    }

    protected override void OnInitialized()
    {
        if (ParentComponent == null)
            throw new Exception("Must be used within MyParentComponent");
        ParentComponent.AddChild(this);

    }
}
