@inject NavigationManager NavigationManager

<div class="jumbotron border bg-@b" style="color:#FFFFFF; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); overflow: hidden; padding-top: 1rem; padding-bottom: 1rem" @onmouseout="mouseOut" @onmouseover="mouseIn" @onmousedown="clicked">
    <center>Feedback</center>
</div>

@code {

    [Parameter]
    public string CourseId { get; set; }

    public string b = "cyan";

    private void mouseIn()
    {
        b = "cyan-focus";

    }

    private void mouseOut()
    {
        b = "cyan";
    }

    private void clicked()
    {
        NavigationManager.NavigateTo("/Feedback/");
    }

}

<style>
    .jumbotron {
        cursor: pointer;
    }
</style>