<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">aLive</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/faq">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Help
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="feedback">
                <span class="oi oi-warning" aria-hidden="true"></span> Feedback
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quizdef">
                <span class="oi oi-pencil" aria-hidden="true"></span> Edit Quiz
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="courseeditor">
                <span class="oi oi-pencil" aria-hidden="true"></span> Edit Course
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
