@inject NavigationManager NavigationManager
<a href="/example_files/PDF_Datei.pdf" style="text-decoration:none">
    <div class="jumbotron border bg-@b" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); overflow: hidden; padding-top: 1rem; padding-bottom: 1rem" @onmouseout="mouseOut" @onmouseover="mouseIn" >
        <center>PDF</center>
    </div>
</a>

@code {
    [Parameter]
    public string Url { get; set; }

    public string b = "alive-green";

    private void mouseIn()
    {
        b = "success";

    }

    private void mouseOut()
    {
        b = "alive-green";
    }

}


<style>
    .jumbotron {
        cursor: pointer;
    }
</style>